<%# Copyright 2016 Prateek Sanyal and Steven Dee.
  # All rights reserved.
%>
<div class="container">
  <h1> Sign Up! </h2>
  <div class="well col-md-6">
    <%= form_for :user, url: '/users' do |f| %>
      <fieldset class="form-group">
        <label for="username">Username</label>
        <%= f.text_field :username, class: "form-control"%>
      </fieldset>
      <fieldset class="form-group">
        <label for="email">Email</label>
        <%= f.text_field :email, class: "form-control"%>
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password</label>
        <%= f.password_field :password, class: "form-control"%>
        <small class="text-muted">Minimum 6 characters.</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="password_confrimation">Confirm Password</label>
        <%= f.password_field :password_confrimation, class: "form-control"%>
      </fieldset>
      <%= f.submit 'Submit', class: "btn btn-primary" %>
    <% end %> 
  </div>
  <div class="col-md-6">
  </div>
</div>
