<h1> Sign Up! </h2>

<%= form_for :user, url: '/users' do |f| %>
  <ul>
    <li>Username: <%= f.text_field :username %></li>
    <li>Email: <%= f.text_field :email %></li>
    <li>Password: <%= f.password_field :password %></li>
    <li>Confirm Password: <%= f.password_field :password_confirmation %> </li>
    <li><%= f.submit 'Submit' %></li>
  </ul>

<% end %> 