<%# Copyright 2016 Prateek Sanyal and Steven Dee.
  # All rights reserved.
%>
<div class="container">
  <h1> Sign Up! </h2>
  <div class="well col-md-6">
    <%= form_for :user, url: '/users' do |f| %>
      <%= field_set_tag nil, class: 'form-group' do %>
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      <% end %>
      <%= field_set_tag nil, class: 'form-group' do %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      <% end %>
      <%= field_set_tag nil, class: 'form-group' do %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <small class="text-muted">Minimum 6 characters.</small>
      <% end %>
      <%= field_set_tag nil, class: 'form-group' do %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% end %>
      <%= f.submit 'Sign Up', class: "btn btn-primary" %>
    <% end %> 
  </div>
  <div class="col-md-6">
  </div>
</div>
