<%# Copyright 2016 Prateek Sanyal and Steven Dee.
  # All rights reserved.
%>
<h1><%= @campaign.title %></h1>
<% if @campaign.requisite_funding %>
  <p class="funding">$<%= @campaign.requisite_funding %></p>
<% end %>
<% if @campaign.description %>
  <p class="description"><%= @campaign.description %></p>
<% end %>

<% if @campaign.legs.any? %>
  <ul class="legs">
    <% @campaign.legs.each do |leg| %>
      <li id="leg-<%= leg.id %>"><%= leg.from_to %> <%= link_to fa_icon('remove'), leg_path(leg), method: :delete, title: 'Delete leg' %>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Add leg', new_campaign_leg_path(@campaign, @campaign.legs.new) %>
